# app/views/products/search.html.erb の一部を抜粋

<table class="table table-list">
<thead>
  <tr>
    <th>販売状況</th>
    <th>商品コード</th>
    <th>商品名</th>
    <th>販売価格</th>
    <th>仕入原価</th>
  </tr>
</thead>
<% @products.each do |product| %>
<tbody>
<tr>
  <td><%= product.sales_condition %> </td>
  <td><%= product.code %></td>
  <td><%= product.name %></td>
  <td><%= product.display_price %></td>
  <td><%= product.display_purchase_cost %></td>
</tr>
</tbody>
<% end %>
</table>